@charset "utf-8";

/* mobile.css */
/* 제이쿼리 반영 재구성안 */
/* 디바이스 크기: 태블릿 | 최소 320 최대 766px*/

@media screen and (max-width: 766px){


	
	/* #viewBox ================================= */
	#viewBox {
		position: relative;
		width: 100%; height: 800px; 
		overflow: hidden;
		/* background-color: #ddd; */
	}
	/* 슬라이드버튼 */
	.slide_btn {
		position: absolute; top: 5rem; right: 1rem; z-index:1000;
		width: auto; height: 0;
	}
	.slide_btn > button {
		width: 30px; height: 30px;
		background-color:rgba(255, 255, 255, 0.3);
	}
	.slide_btn i  {
		color:#fff;
	}
	.slide_btn .next_btn {
		float:right;
	}
	.slide_btn .prev_btn {
		float:left;
		margin-right: 0.3rem;
	}

	/* 슬라이드배너 */
	.slide_wrap {
		/* position: absolute; top:0; left:0; */
		width: 400%; height: 100%;
		/* overflow: hidden; */
	}

	.slide_wrap:after, 	
	.slide_wrap::after {
		content:"";
		position: absolute; top: 0; left:0; 
		width: 100%; height: 100%;
		background-color:rgba(0, 0, 0, 0.6);
	}
	.slide_wrap li {
		float:left;
		/* position: absolute; top:0; left:0; */
		width: 25%; height: 100%;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
	}
	.slide_wrap li.slide_01 { background-image: url('../../../img/view_01.jpg'); }
	.slide_wrap li.slide_02 { background-image: url('../../../img/view_02.jpg'); }
	.slide_wrap li.slide_03 { background-image: url('../../../img/view_03.jpg'); }
	.slide_wrap li.slide_04 { background-image: url('../../../img/view_04.jpg'); }
	
	/* 텍스트 */
	.view_text {
		position: absolute; bottom: 20px; right: 20px; z-index: 500;
		width: 80%; height: auto;
	}
	.view_text span:before,
	.view_text span::before {
		position: absolute; right: 146px; top: 6px;
		content: " "; 
		display: block;
		width: 30px; height: 2px;
		background-color: #fff;
	}
	.view_text span {
		float: right;
		margin-right: 20px;
		color: #fff; 
		font-family: sans-serif;
	}
	.view_text div {
		float: right;
		width: 200px; height: 200px;
		background-image: url('../../../img/view_logo.svg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 50%;
		/* background-color: #211aa1; */
	}

	
	
	/* #ticketBox ================================= */
	#ticketBox {	
		width: 100%; height: 800px; 
		padding-top: 100px; 
		background-color: #211aa1;
		background-image: url(../../../img/audience.jpg);
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		background-attachment: fixed;
	}
	
	.ticket_area {
		width: 100%; height: 100%; 
		margin: auto; 
		/* background-color: royalblue; */
	}
	.ticket_area .ticket_text{
		width: 100%; height: 260px;
		padding: 10px; box-sizing: border-box;
		margin-bottom: 20px;
		/* background-color: rgba(255, 255, 255, 0.5); */
	}
	.ticket_area  p {
		text-align: center;
		color: #222; 
	}
	.title_text { font-size: 2rem;}
	.sub_text {font-size:1.2rem;}
	.ticket_area .ticket_btn {
		width: 180px; height: 50px; 
		margin: auto;
		background-color: #fff;
		border-radius: 0.3rem;
		text-align: center;
		line-height: 50px;
	}
	.ticket_area .ticket_btn a {
		display: block; width: 100%; height: 100%;
	}
	
	/* #timetableBox ================================= */
	#timetableBox {
		width: 100%; height: auto; 
		margin: auto;
		/* background-color: #33a211; */
	}
	.titmetable_view {
		width: 100%; height: 200px;
		background-color: rgba(255, 255, 255, 0.3);
		background-image: url(../../../img/microphone.jpg);
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: cover ;
	}
	.titmetable_cont { 
		position: relative;
		width: 100%;height: 180px;
	}
	.titmetable_cont ul {
		position: absolute; left:45px; top:0; 
		margin: auto; 
		width:280px; height: auto; 
		/* background-color: #fff; */
	}
	.titmetable_cont li {
		float: left;
		width: 130px; height: 100px; 
		margin-right: 10px;
	}
	.titmetable_cont li:last-child{transform: translateY(60px);}
	.titmetable_cont li div {width: 100%; height: 130px;
		background-color: rgba(30, 100, 80, 1);
		border-radius: 30% 0;
	}
	.titmetable_cont li:last-of-type div{
		border-radius: 0 30%;}
	.titmetable_cont li p {
		width: 100%; height: 50px; 
		text-align: center; line-height: 50px;
		font-size: 1.2rem; color: #333;
	}
	/* #locationBox ================================= */
	#locationBox {
		width: 100%; height: auto; 
		margin:auto;
		padding: 50px; box-sizing: border-box;
		/* padding-left: 30%;   */
		background-color: rgba(30, 100, 80, 1);
	}
	
	.location_info {
		width: 100%; max-width: 767px; height: auto;
		margin:auto;
	}
	.location_info li {
		/* float: left; */
		width: 100%; height: 60px; 
		margin-bottom: 20px;
		background-color: #fff;
		text-align: center; line-height: 60px;
	}
	.location_info li a {
		display: block;
		width: 100%; height:100%;
		border-radius: 30px;
		background-color: #fff;
		font-size: 1.2rem; 
	}

	.location_info li a:hover {
		background-color: #007f76;
		color: #fff;
	}

	.location_info li i {
		margin-right: 10px;
		font-size: 1.5rem; line-height: 1.5rem;
		color:#222;
	}
	
	/* #gallaryBox ================================= */
	#gallaryBox {
		width: 100%; height: auto; min-height: 500px;
		padding: 50px; box-sizing: border-box;
		background-color: #333;
	}
	#gallaryBox h2 {
		width: 100px; height: 50px; 
		margin-bottom: 50px;
		color:  #fff;
	}
	.gallary_area {
		width: 100%; height: auto; min-height: 300px;
	}
	.gallary_area li  {
		float: left; 
		width: 100%; height: 200px; 
		margin-right: 3%; margin-bottom: 3%;
		background-color: #fff;
	}
	.gallary_area li:nth-child(3n) {margin-right: 0;}
	
	
	
	
	/* @media 종료태그 */
	}