@charset "utf-8";
/* tablet.css */
/* history 페이지 tablet  */
@media screen and (min-width: 767px) and (max-width: 939px) {

#contBox{
	width: 100%; max-width: 1200px; 
	height:auto;
	padding: 20px;  padding-bottom: 10px; box-sizing: border-box;
	margin: auto;
	/* background-color: #334; */
	background-image:linear-gradient(#334,#1e6450);
}
#contBox h2 {
	width: 100%; height: auto;
	border-bottom: 2px solid #007f76;
	text-align: center;
	color: #fff; font-size: 2rem;
}

.cont_area {
	width: 100%;  max-width: 940px; 
	height: auto; margin:auto;
}

.history_list {
	width: 100%;  max-width: 1200px; 
	height: auto; min-height: 200px;
	padding: 120px 50px 0px 50px; box-sizing: border-box;
}


.history_list li {
	position: relative;
	width: 100%; height: 452px;
	margin-bottom: 160px; 
}
.layout_01:after, .layout_02:after {
	position: absolute; bottom: -40px; 
	content: " "; width: 100%; height: 1px;
	background-color: #aaa; 
}

/* 공통 */
.year_count {
	position: absolute; top: -90px; left:0; z-index: 100;
	width: 370px; height: 60px;	
	/* background-color:rgba(0, 0, 0, 0.5); */
}
.year_count h3 {
	position: relative;
	width: 100%; height: 100%;
	color: #ddd; font-size: 2.5rem;
	
}
.year_count h3 .year {
	position: absolute; top:0; left: 0;
	font-size: 4rem; letter-spacing: 0.5rem;
}
.year_count h3 .count:before, .year_count h3 .count::before{
	position: absolute; left: 0; top: 0;
	display: block; 
	content:" ";
	width: 100%; height: 2px; 
	background-color:#007f76;
}
.year_count h3 .count {
	position: absolute; top:30px; left: 200px;
	font-size: 1.5rem;
	color:#ddd;
}


.img_poster {
	position: absolute; 
	width: 320px; height: 452px;
	background-color: #fff;
}
.cont_text {
	position: absolute; bottom:-30px; right:0;
	width: 80%; height: auto;
	padding: 8px; padding-right: 20px; box-sizing: border-box;
	border-top-right-radius: 40px;
	/* background-color: rgba(0, 128, 118, 0.9); */
	background-color: rgba(31, 31, 31, 0.7);

}
.cont_text p {
 width:auto; height: auto;
 font-family: gothic;	
 margin-bottom: 4px; 
 font-size: 0.75rem;
 color:#fff; word-break: keep-all;
 /* background-color: #555; */
}
.cont_text p strong {
	color: #ddd;
}


/* 개별 01 */
.layout_01 .year_count {
 	top: -50px; left: -50px; 
}
.layout_01 .img_poster {
	top: 0; left: 0;	
}
.layout_01 .cont_text {
	bottom:-30px; right: 0;
}

/* 개별 02 */
.layout_02 .year_count {
	top: -50px; right: 0px; 
}
.layout_02 .img_poster {
 top: 0; right: 0;	
}
.layout_02 .cont_text {
 bottom:-30px; left: 0;
 text-align: right;
}






/* @media 종료태그 */
}